[Unit]
Description=Telepict service

[Service]
User=ec2-user
WorkingDirectory=/home/ec2-user/telepict
EnvironmentFile=/etc/sysconfig/telepict
ExecStart=/home/ec2-user/.local/bin/gunicorn -c python:gunicorn_config telepict.flask_app:app
Restart=always

[Install]
WantedBy=multi-user.target
