[Unit]
Description=Telepict service

[Service]
User=ec2-user
WorkingDirectory=/home/ec2-user/telepict
EnvironmentFile=/etc/sysconfig/telepict
ExecStart=/usr/bin/python3 -m flask run
Restart=always

[Install]
WantedBy=multi-user.target
