<!DOCTYPE html>
<html lang="en">
  <head>
    {% block head -%}
    <!-- <link rel="stylesheet" href="style.css" /> -->
    <title>Telepict - {% block title %}{% endblock %}</title>
    <ul>
      <li><a href="{{ url_for('game.index') }}">Home</a></li>
      <li>{%- include 'partials/user.html' %}</li>
    </ul>
    {%- endblock %}
  </head>
  <body>
    {% with messages = get_flashed_messages(with_categories=True) -%}
      {%- if messages -%}
        <ul class="flashes">
        {% for category, message in messages -%}
          <li>{{ category }}: {{ message }}</li>
        {%- endfor %}
        </ul>
      {%- endif -%}
    {%- endwith %}
    <div id="content">
      {% block content %}{% endblock %}
    </div>
    <div id="footer">
      {% block footer %}{% endblock %}
    </div>
  </body>
</html>
