{%- extends "base.html" -%}
{% block title %}Create Account{% endblock %}

{% block content %}
  <form action="{{ url_for('auth.create_account') }}" method='post'>
    <div class="row">
      <div class="col-md-4">
        <div class="form-group">
          <label for="input-name">Username </label>
          <input id="input-name" type="text" name="name" autocomplete="username" class="form-control" required />
        </div>
      </div>
      <div class="col-md-4">
        <div class="form-group">
          <label for="input-dispname">Display Name</label>
          <input id="input-dispname" type="text" name="dispname" class="form-control" autocomplete="off" required />
          <small class="form-text text-muted">You can change this later</small>
        </div>
      </div>
      <div class="col-md-2">
        <div class="form-group">
          <label for="input-tz">Time Zone</label>
          <select id="input-tz" name="timezone" class="form-select" />
            {% for timezone in timezones -%}
            <option {% if loop.first %}selected{% endif %}>{{ timezone }}</option>
            {%- endfor %}
          </select>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4">
        <div class="form-group">
        <label for="input-pwd">Password</label>
        <input id="input-pwd" type="password" name="password" autocomplete="new-password" class="form-control" pattern=".{8,}" required />
          <small class="form-text text-muted">At least 8 characters - do not use a password you use elsewhere</small>
        </div>
      </div>
      <div class="col-md-4">
        <div class="form-group">
          <label for="input-pwd-confirm">Confirm Password</label>
          <input id="input-pwd-confirm" type="password" class="form-control" pattern=".{8,}" required />
        </div>
      </div>
      {% if config.REQUIRE_ACCESS_CODE -%}
      <div class="col-md-4">
        <div class="form-group">
          <label for="access-code">Access Code</label>
          <input id="access-code" type="text" name="accessCode" class="form-control" value="{{ access_code }}" required />
          <small class="form-text text-muted">Given to you by the host</small>
        </div>
      </div>
      {%- endif %}
    </div>

    <button type="submit" class="btn btn-primary">Create Account</button>
  </form>
  <script>
    const passwordInput = document.getElementById("input-pwd");
    const passwordInputConfirm = document.getElementById("input-pwd-confirm");
    passwordInputConfirm.addEventListener("input", function(event) {
      if (passwordInput.value != passwordInputConfirm.value) {
        passwordInputConfirm.setCustomValidity("Passwords don't match");
      } else {
        passwordInputConfirm.setCustomValidity("");
      }
    });
  </script>
{% endblock %}
