{%- extends "base.html" -%}
{% block title %}Pending Game: {{ game.id_ }}{% endblock %}

{% block content %}
  <form action="{{ url_for('game.pending_game', game_id=game.id_) }}" method='post'>
    <label for="input-numrounds">Number of Rounds </label><input id="input-numrounds" type="text" name="numrounds" pattern="\d+" required value="{{ game.num_rounds }}" />
    <br/>
    <input id="pass-left" type="radio" name="direction" value="left" {% if game.pass_left %}checked{% endif %} /><label for="pass-left">Pass left</label>
    <input id="pass-right" type="radio" name="direction" value="right" {% if not game.pass_left %}checked{% endif %} /><label for="pass-right">Pass right</label>
    <br/>
    <input id="write-first" type="radio" name="write_first" value="1" {% if game.write_first %}checked{% endif %} /><label for="write-first">Write first</label>
    <input id="draw-first" type="radio" name="write_first" value="0" {% if not game.write_first %}checked{% endif %} /><label for="draw-first">Draw first</label>
    <button type="submit">Update</button>
  </form>
  <h2>Players</h2>
  <ul>
    {% for player in game.players -%}
    <li>{{ player.name }} ({{ player.display_name }}){% if game.creator.id_ != player.id_ %} <form action="{{ url_for('game.remove_player', game_id=game.id_, player_id=player.id_) }}" method='post'><button>Remove</button></form>{% endif %}
      {%- if not loop.first %} <form action="{{ url_for('game.move_player', game_id=game.id_, player_id=player.id_, direction='up') }}" method='post'><button>Move Up</button></form>{% endif %}
      {%- if not loop.last %} <form action="{{ url_for('game.move_player', game_id=game.id_, player_id=player.id_, direction='down') }}" method='post'><button>Move Down</button></form>{% endif %}</li>
    {%- endfor %}
  </ul>
  <strong>Invited:</strong>
  <ul>
    {% for invitation in game.invitations -%}
    <li>{{ invitation.recipient.name }} ({{ invitation.recipient.display_name }})</li> <form action="{{ url_for('game.revoke_invitation', game_id=game.id_, player_id=invitation.recipient_id) }}" method='post'><button>Revoke</button></form>
    {%- endfor %}
  </ul>
  <form action="{{ url_for('game.invite_player', game_id=game.id_) }}" method="post">
    <label for="invite-input">Invite player </label><input id="invite-input" type="text" name="player_name" required /><button type="submit">Invite</button>
    <p>Or have them visit this URL: {{ url_for('game.respond_invitation', game_id=game.id_, _external=True) }}</p>
  </form>
  <form action="{{ url_for('game.start_game', game_id=game.id_) }}" method='post'>
    <button type="submit">Start Game</button>
  </form>
  <form action="{{ url_for('game.delete_game', game_id=game.id_) }}" method='get'>
    <button type="submit">Delete Pending Game</button>
  </form>
{% endblock %}
