{%- extends "base.html" -%}
{% block title %}Pending Game: {{ game.id_ }}{% endblock %}

{% block content %}
  <form action="{{ url_for('game.pending_game', game_id=game.id_) }}" method='post'>
    <div class="form-group">
      <label for="input-numrounds">Number of Rounds </label>
      <input id="input-numrounds" type="text" name="numrounds" pattern="\d+" class="form-control" required value="1" />
    </div>

    <div class="form-group">
      <div class="form-check form-check-inline">
        <input id="pass-left" class="form-check-input" type="radio" name="direction" value="left" checked /><label class="form-check-label" for="pass-left">Pass left</label>
      </div>
      <div class="form-check form-check-inline">
        <input id="pass-right" class="form-check-input" type="radio" name="direction" value="right" /><label class="form-check-label" for="pass-right">Pass right</label>
      </div>
    </div>

    <div class="form-group">
      <div class="form-check form-check-inline">
        <input id="write-first" class="form-check-input" type="radio" name="write_first" value="1" checked /><label class="form-check-label" for="write-first">Write first</label>
      </div>
      <div class="form-check form-check-inline">
        <input id="draw-first" class="form-check-input" type="radio" name="write_first" value="0" /><label class="form-check-label" for="draw-first">Draw first</label>
      </div>
    </div>
    <button type="submit" class="btn btn-primary">Update Game</button>
  </form>
  <h2>Players</h2>
  <div class="row">
    <div class="col-md-6">
      <table class="table table-borderless table-sm">
        <tbody id="player-list">
          {% for player in game.players -%}
          <tr>
            <td>{{ player.name }} ({{ player.display_name }})
                {%- if game.creator.id_ != player.id_ %} <button class="btn btn-secondary" type="button" onclick="AJAXRequest(this, 'POST', '{{ url_for('game.remove_player', game_id=game.id_, player_id=player.id_) }}', handleRemovePlayer)">Remove</button>{% endif -%}
                <button class="btn btn-secondary up-button" type="button"{% if loop.first %} style="display: none"{% endif %} onclick="AJAXRequest(this, 'POST', '{{ url_for('game.move_player', game_id=game.id_, player_id=player.id_, direction='up') }}', handleMovePlayer)">Move Up</button>
                <button class="btn btn-secondary down-button" type="button"{% if loop.last %} style="display: none"{% endif %} onclick="AJAXRequest(this, 'POST', '{{ url_for('game.move_player', game_id=game.id_, player_id=player.id_, direction='down') }}', handleMovePlayer)">Move Down</button>
            </td>
          </tr>
          {%- endfor %}
        </tbody>
      </table>
    </div>
  </div>
  <strong>Invited:</strong>
  <ul>
    {% for invitation in game.invitations -%}
    <li>{{ invitation.recipient.name }} ({{ invitation.recipient.display_name }})</li> <form action="{{ url_for('game.revoke_invitation', game_id=game.id_, player_id=invitation.recipient_id) }}" method='post'><button>Revoke</button></form>
    {%- endfor %}
  </ul>
  <form action="{{ url_for('game.invite_player', game_id=game.id_) }}" method="post" class="form-inline">
    <div class="form-group">
      <label for="invite-input">Invite player </label>
      <input id="invite-input" type="text" name="player_name" class="form-control" required />
      <button type="submit" class="btn btn-secondary">Invite</button>
      <p>Or have them visit this URL: {{ url_for('game.respond_invitation', game_id=game.id_, _external=True) }}</p>
    </div>
  </form>
  <form action="{{ url_for('game.start_game', game_id=game.id_) }}" method='post'>
    <button type="submit" class="btn btn-primary">Start Game</button>
  </form>
  <form action="{{ url_for('game.delete_game', game_id=game.id_) }}" method='get'>
    <button type="submit" class="btn btn-danger">Delete Pending Game</button>
  </form>
{% endblock %}

{% block footer -%}
  <script>
    var tbody = document.querySelector('#player-list');

    function AJAXRequest(button, method, url, handler) {
      var httpRequest = new XMLHttpRequest();

      function handlerWrapper() {
        if (httpRequest.readyState === XMLHttpRequest.DONE) {
          handler(httpRequest, button);
        }
      }

      httpRequest.onreadystatechange = handlerWrapper;
      httpRequest.open(method, url);
      httpRequest.send();
    }

    function handleRemovePlayer(httpRequest, button) {
      if (httpRequest.status == 200) {
        var row = button.parentNode.parentNode;
        row.parentNode.removeChild(row);
      } else {
        alert('Could not remove player');
      }
    }

    function handleMovePlayer(httpRequest, button) {
      if (httpRequest.status == 200) {
        direction = JSON.parse(httpRequest.responseText).moved;

        var row = button.parentNode.parentNode;
        var other;
        if (direction == 'up') {
          other = row.previousElementSibling;
          tbody.insertBefore(row, other);
        } else {
          other = row.nextElementSibling;
          tbody.insertBefore(other, row);
        }
        updateMoveButtons();
      } else {
        alert('Could not move player');
      }
    }

    function updateMoveButtons() {
      var rows = tbody.children;
      var row, upButton, downButton;
      for (let i = 0; i < rows.length; i++) {
        row = rows[i];
        upButton = row.querySelector('.up-button');
        downButton = row.querySelector('.down-button');
        upButton.style.display = '';
        downButton.style.display = '';
        if (i == 0) {
          upButton.style.display = 'none';
        } else if (i == rows.length - 1) {
          downButton.style.display = 'none';
        }
      }
    }
  </script>
{% endblock -%}
