{%- extends "base.html" -%}
{% block title %}Index{% endblock %}

{% block head %}
  {{ super() }}
  <script>
    var game_id = {{ game_id }};
    var player_id = {{ player_id }};
    var currentState;

    var handlers = {};
    var httpHost = "http://{{ server }}:{{ config['HTTP_PORT'] }}";
    var ws = new WebSocket("ws://{{ server }}:{{ config['WS_PORT'] }}/game/" + game_id + "/" + player_id);

    function resetDisplay() {
      while (disp.firstChild) {
        disp.removeChild(disp.firstChild);
      }
      textInputDiv.style.display = 'none';
      imageInputDiv.style.display = 'none';
      canvasDraw.clear();
      textInput.value = "";
      imgUpload.value = "";
    }

    function mainHandler(data) {
      renderOverview(data['overview']);
      if (currentState != data['state']) {
        var action = data.action;
        var handler = handlers[action];

        resetDisplay();
        if (handler !== undefined) {
          handler(data);
          currentState = data['state'];
        } else {
          console.log("No handler found for action " + action, data, handlers);
        }
      }
    }

    ws.onmessage = function (event) {
      var data = JSON.parse(event.data);
      mainHandler(data);
    };

    function passWriting() {
      var writing = textInput.value.trim();
      if (writing != '') {
        ws.send(JSON.stringify({'action': 'writing',
                                'text': writing}));
        updateDisplaySent('writing');
      }
    }

    function updateDisplaySent(type) {
      resetDisplay();
      disp.appendChild(h('p', {}, 'Passing ' + type + '...'));
    }
  </script>
{% endblock %}
{% block content %}
  <div class="text-center">
    <canvas id="overview-canvas" width="1px" height="1px"></canvas>
  </div>
  <div id="game-display"></div>
  <div id="text-input-div" style="display: none">
    <input id="text-input" size="100" />
    <button type="button" onclick="passWriting()">Submit</button>
  </div>
  <div class="row">
    <div class="col-md-8">
      <div id="image-input-div" style="display: none">
        <input id="color-picker" data-jscolor="" onChange="" value="#000000" />
        <div id="image-canvas" data-dimensions="{{ config['CANVAS_WIDTH'] }}x{{ config['CANVAS_HEIGHT'] }}"></div>
        <button class="btn btn-primary" type="button" onclick="passDrawing()">Submit</button>
        <br/>
        <label for="img-upload" class="form-label">Or upload a file:</label>
        <input class="form-control w-50" type="file" id="img-upload">
        <button class="btn btn-primary" type="button" onclick="sendImage()">Upload</button>
      </div>
    </div>
  </div>
{% endblock %}

{% block footer -%}
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jscolor/2.4.5/jscolor.min.js"></script>
  <script src="{{ url_for('static', filename='js/canvas-draw.js') }}"></script>
  <script src="{{ url_for('static', filename='js/drawingCanvas.js') }}"></script>
  <script src="{{ url_for('static', filename='js/overview.js') }}"></script>
  <script>
    var disp = document.querySelector('#game-display');
    var textInput = document.querySelector('#text-input');
    var textInputDiv = document.querySelector('#text-input-div');

    var imageInputDiv = document.querySelector('#image-input-div');
    var imgUpload = document.querySelector('#img-upload');

    handlers.view = function(data) {
      var pageData;
      for (const stack of data.stacks) {
        disp.appendChild(h('h2', {}, stack.owner + "'s stack:"));
        for (const page of stack.pages) {
          pageData = page.content;
          if (page.type == 'Drawing') {
            disp.appendChild(h('p', {}, page.author + ' drew:'));
            disp.appendChild(h('img', {class: 'img-fluid img-thumbnail', src: pageData}));
          } else {
            disp.appendChild(h('p', {}, page.author + ' wrote:'));
            disp.appendChild(h('p', {class: 'card card-body'}, pageData));
          }
        }
      }
    };
    handlers.view_own = function(data) {
      var pageData;
      disp.appendChild(h('div', {}, 'Your stack is back!'));
      for (const page of data.stack.pages) {
        pageData = page.content;
        if (page.type == 'Drawing') {
          disp.appendChild(h('p', {}, page.author + ' drew:'));
          disp.appendChild(h('img', {class: 'img-fluid img-thumbnail', src: pageData}));
        } else {
          disp.appendChild(h('p', {}, page.author + ' wrote:'));
          disp.appendChild(h('p', {class: 'card card-body'}, pageData));
        }
      }
    };
    handlers.write = function(data) {
      if (data.text != '') {
        disp.appendChild(h('p', {}, data.text));
        disp.appendChild(h('img', {class: 'img-fluid img-thumbnail', src: data.prev}));
      }
      disp.appendChild(h('p', {}, 'Write something:'))
      textInputDiv.style.display = '';
    };
    handlers.draw = function(data) {
      if (data.text != '') {
        disp.appendChild(h('p', {}, data.text));
        disp.appendChild(h('p', {class: 'card card-body'}, data.prev));
      }
      disp.appendChild(h('p', {}, 'Draw something:'))
      imageInputDiv.style.display = '';
    };
    handlers.wait = function(data) {
      disp.appendChild(h('p', {}, data.text));
    };

  </script>
{%- endblock %}
