{%- extends "base.html" -%}
{% block title %}Index{% endblock %}

{% block head %}
  {{ super() }}
  <script>
    var game_id = {{ game_id }};
    var player_id = {{ player_id }};
    var currentState;

    var handlers = {};
    var httpHost = "http://{{ server }}:{{ config['HTTP_PORT'] }}";
    var ws = new WebSocket("ws://{{ server }}:{{ config['WS_PORT'] }}/" + game_id + "/" + player_id);

    function resetDisplay() {
      while (disp.firstChild) {
        disp.removeChild(disp.firstChild);
      }
      textInputDiv.style.display = 'none';
      imageInputDiv.style.display = 'none';
      clearCanvas();
      textInput.value = "";
      imgUpload.value = "";
    }

    function mainHandler(data) {
      if (currentState != data['state']) {
        var action = data.action;
        var handler = handlers[action];

        resetDisplay();
        if (handler !== undefined) {
          handler(data);
          currentState = data['state'];
        } else {
          console.log("No handler found for action " + action, data, handlers);
        }
      }
    }

    ws.onmessage = function (event) {
      var data = JSON.parse(event.data);
      mainHandler(data);
    };

    function makeText(text, type) {
      if (type === undefined) {
        type = 'div';
      }
      var element = document.createElement(type);
      element.textContent = text;
      return element;
    }

    function makeImg(dataUrl) {
      var img = document.createElement('img');
      img.src = dataUrl;
      return img;
    }

    function passWriting() {
      ws.send('WRITING:' + textInput.value);
    }
  </script>
{% endblock %}

{% block content %}
  <div id="game-display"></div>
  <div id="text-input-div" style="display: none">
    <input id="text-input" size="100" />
    <button type="button" onclick="passWriting()">Pass</button>
  </div>
  <div id="image-input-div" style="display: none">
    <!-- http://www.williammalone.com/articles/create-html5-canvas-javascript-drawing-app/ -->
    <select id="color-select">
      <option value="#000000" selected>Black</option>
      <option value="#df4b26">Red</option>
      <option value="#cb3594">Purple</option>
      <option value="#659b41">Green</option>
      <option value="#ffcf33">Yellow</option>
      <option value="#986928">Brown</option>
    </select>
    <select id="size-select">
      <option value="1">Tiny</option>
      <option value="3">Small</option>
      <option value="5" selected>Normal</option>
      <option value="8">Large</option>
      <option value="14">Huge</option>
    </select>
    <canvas id="image-canvas" width="{{ config['CANVAS_WIDTH'] }}" height="{{ config['CANVAS_HEIGHT'] }}" style="border: 1px solid #000000;"></canvas>
    <button type="button" onclick="clearCanvas()">Clear</button>
    <button type="button" onclick="passDrawing()">Pass</button>
    <br/>
    <p>Or upload a file:</p>
    <input type="file" id="img-upload">
    <button type="button" onclick="sendImage()">Upload</button>
  </div>
{% endblock %}

{% block footer -%}
  <script src="{{ url_for('static', filename='js/drawingCanvas.js') }}"></script>
  <script>
    var disp = document.querySelector('#game-display');
    var textInput = document.querySelector('#text-input');
    var textInputDiv = document.querySelector('#text-input-div');

    var imageInputDiv = document.querySelector('#image-input-div');
    var imgUpload = document.querySelector('#img-upload');

    var canvasWidth = {{ config['CANVAS_WIDTH'] }};
    var canvasHeight = {{ config['CANVAS_HEIGHT'] }};

    handlers.view = function(data) {
        var pageData;
        for (const stack of data.stacks) {
          disp.appendChild(makeText(stack.owner + "'s stack:", 'h2'));
          for (const page of stack.pages) {
            pageData = page.content;
            if (page.type == 'Drawing') {
              disp.appendChild(makeText(page.author + ' drew:'));
              disp.appendChild(makeImg(pageData));
            } else {
              disp.appendChild(makeText(page.author + ' wrote:'));
              disp.appendChild(makeText(pageData));
            }
          }
        }
    };
    handlers.view_own = function(data) {
        var pageData;
        disp.appendChild(makeText('Your stack is back!'));
        for (const page of data.stack.pages) {
          pageData = page.content;
          if (page.type == 'Drawing') {
            disp.appendChild(makeText(page.author + ' drew:'));
            disp.appendChild(makeImg(pageData));
          } else {
            disp.appendChild(makeText(page.author + ' wrote:'));
            disp.appendChild(makeText(pageData));
          }
        }
    };
    handlers.write = function(data) {
      if (data.text != '') {
          disp.appendChild(makeText(data.text));
        }
        var img = document.createElement('img');
        img.src = data.prev;
        disp.appendChild(img);
        disp.appendChild(makeText('Write something:'))
        textInputDiv.style.display = '';
    };
    handlers.draw = function(data) {
      if (data.text != '') {
          disp.appendChild(makeText(data.text));
        }
        disp.appendChild(makeText(data.prev));
        disp.appendChild(makeText('Draw something:'))
        imageInputDiv.style.display = '';
    };
    handlers.wait = function(data) {
        disp.appendChild(makeText(data.text));
    };

    function passDrawing() {
      // Serialize image data
      var imgData = drawingContext.getImageData(0, 0, canvasWidth, canvasHeight);
      var data = "imgData\x00" + imgData.width + "\x00" + imgData.height + "\x00";
      var compressed = compressImageData(imgData);
      ws.send(compressed);
    }

  </script>
{%- endblock %}
