{%- extends "base.html" -%}
{% block title %}Game {{ game_id }}{% endblock %}

{% block head %}
  <script src="{{ url_for('static', filename='js/h.js') }}"></script>
  {{ super() }}
  <script>
    var game_id = {{ game_id }};
    var player_id = {{ player_id }};
    var currentState;
    var endpoint = '';
    var maxWritingWidth = "660px";

    var handlers = {};
    var httpHost = "{{ server_full }}";

    function resetDisplay() {
      while (disp.firstChild) {
        disp.removeChild(disp.firstChild);
      }
    };

    function mainHandler(data) {
      renderOverview(data['overview']);
      if (currentState != data['state']) {
        var action = data.action;
        var handler = handlers[action];

        resetDisplay();
        if (handler !== undefined) {
          handler(data);
          currentState = data['state'];
        } else {
          console.log("No handler found for action " + action, data, handlers);
        }
      }
    };
  </script>
{% endblock %}

{% block alerts %}
<div id="not-connected-alert" class="alert alert-danger" role="alert">Not connected</div>
{% endblock %}

{% block footer -%}
  <script src="{{ url_for('static', filename='js/overview.js') }}"></script>
  <script>
    var disp = document.querySelector('#game-display');

    var imageBaseUrl = "{{ url_for('image.get_image', encrypted_game_id=encrypted_game_id, image_id=999) }}";

    var ws;
    openWebsocketConnection();
    var notConnectedAlert = document.getElementById('not-connected-alert');
    var waitBase = null;

    function openWebsocketConnection() {
      ws = new WebSocket("{{ config['WS_PROTOCOL'] }}://{{ server_name }}:{{ config['EXTERNAL_WS_PORT'] }}/" + endpoint + "/" + game_id + "/" + player_id);

      ws.addEventListener('message', function(event) {
        var data = JSON.parse(event.data);
        mainHandler(data);
      });

      ws.addEventListener('open', function(event) {
        notConnectedAlert.style.display = 'none';
      });

      ws.addEventListener('close', function(event) {
        notConnectedAlert.style.display = '';
        if (waitBase === null) {
          waitBase = 1;
          reattemptToConnect();
        }
      });
    }


    reattemptToConnect = function() {
      if (ws.readyState === WebSocket.OPEN)
      {
        console.log("Reestablished connection");
        // Reset waitBase
        waitBase = null;
      } else {
        // Increment waitBase and retry
        var waitTime = (waitBase ** 2);
        console.log("Retrying WebSocket connection in " + waitTime + " seconds");
        setTimeout(openWebsocketConnection, waitTime * 1000);
        setTimeout(reattemptToConnect, (waitTime + 1) * 1000);
        waitBase++;
      }
    }

    ws.onerror = function(event) {
      console.log("Websocket error occurred", event);
    };

    handlers.view = function(data) {
      var pageData;
      for (const stack of data.stacks) {
        disp.appendChild(h('h2', {}, stack.owner + "'s stack:"));
        for (const page of stack.pages) {
          pageData = page.content;
          if (page.type == 'Drawing') {
            disp.appendChild(h('p', {}, page.author + ' drew:'));
            disp.appendChild(h('img', {class: 'img-fluid img-thumbnail mb-3', src: imageBaseUrl.replace('999', pageData)}));
          } else if (page.type == 'Writing') {
            disp.appendChild(h('p', {}, page.author + ' wrote:'));
            disp.appendChild(h('p', {class: 'card card-body', style: {'maxWidth': maxWritingWidth}}, pageData));
          } else {
            // Player passed due to leaving
            disp.appendChild(h('p', {}, page.author + ' was not in the game'));
          }
        }
      }
    };

  </script>
{%- endblock %}
