{%- extends "base.html" -%}
{% block title %}Index{% endblock %}

{% block content -%}
  {% if 'username' in session -%}
    <div class="modal fade" id="rejoinGameModal" tabindex="-1">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">Rejoin Game</h5>
          </div>
          <div class="modal-body">
            Are you sure?
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
            <form action="{{ url_for('game.rejoin_game', game_id=0) }}", method="post">
              <button type="submit" class="btn btn-primary">Rejoin Game</button>
            </form>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4">
        <h1>Pending Games</h1>
      </div>
      <div class="col-md-2">
        <a class="btn btn-primary" href="{{ url_for('game.create_game') }}">Create Game</a>
      </div>
    </div>
    <table class="table">
      <thead><tr>
        <th></th>
        <th>Creator</th>
        <th>Created</th>
        <th># Rounds</th>
        <th>Direction</th>
        <th>Start</th>
        <th>Players</th>
      </tr></thead>
      {% for game in pending_games -%}
      {% set invited = game.id_ in invited_games -%}
      {% set owner = game.creator_id == player.id_ -%}
      <tr>
        <td>
          {%- if invited -%}
            <form action="{{ url_for('game.respond_invitation', game_id=game.id_, reject=True) }}" method='post' class="form-inline"><button class="btn btn-secondary" type="submit" name="action" value="reject">Reject</button><button class="btn btn-primary" type="submit" name="action" value="accept">Accept</button></form>
          {%- else -%}
            <a href="{{ url_for('game.pending_game', game_id=game.id_) }}" class="btn {% if owner %}btn-primary{% else %}btn-secondary{% endif %}">{% if owner %}Edit{% else %}View{% endif %}</a>
          {%- endif %}</td>
        <td>{{ game.creator.display_name }} ({{ game.creator.name }})</td>
        <td>{{ game.created | render_timestamp }}</td>
        <td>{{ game.num_rounds }}</td>
        <td>{% if game.pass_left %}Left{% else %}Right{% endif %}</td>
        <td>{% if game.write_first %}Write{% else %}Draw{% endif %}</td>
        <td>{% for player in game.players -%}
          {{ player.display_name }} ({{ player.name }}){% if not loop.last %}, {% endif %}
        {%- endfor %}</td>
      </tr>
      {%- endfor %}
    </table>

    <div class="row">
      <div class="col-md-4">
        <h1>Active Games</h1>
      </div>
    </div>
    <table class="table">
      <thead><tr>
        <th></th>
        <th>Started</th>
        <th>Last Move</th>
        <th># Rounds</th>
        <th>Direction</th>
        <th>Start</th>
        <th>Players</th>
      </tr></thead>
      {% for game_assn in active_games -%}
      {%- set game = game_assn.game -%}
      {% set game_state = game_states[game.id_] -%}
      <tr class="{% if game_state == 'done_own' %}table-success{% elif game_state == 'wait' %}table-default{% else %}table-warning{% endif %}">
        <td><a href="{{ url_for('game.view_game', game_id=game.id_) }}" class="btn {% if game_state == 'done_own' %}btn-success{% elif game_state == 'wait' %}btn-secondary{% else %}btn-warning{% endif %}">{% if game_state == 'done_own' %}View Own{% elif game_state == 'wait' %}Waiting{% else %}Continue{% endif %}</a></td>
        <td>{{ game.started | render_timestamp }}</td>
        <td>{% if game.last_move is not none %}{{ game.last_move | render_timestamp }}{% endif %}</td>
        <td>{{ game.num_rounds }}</td>
        <td>{% if game.pass_left %}Left{% else %}Right{% endif %}</td>
        <td>{% if game.write_first %}Write{% else %}Draw{% endif %}</td>
        <td>{% for player in game.players -%}
          {{ player.display_name }} ({{ player.name }}){% if not loop.last %}, {% endif %}
        {%- endfor %}</td>
      </tr>
      {%- endfor %}
    </table>

    <div class="row">
      <div class="col-md-4">
        <h1>Past Games</h1>
      </div>
    </div>
    <table class="table">
      <thead><tr>
        <th></th>
        <th>Started</th>
        <th>Last Move</th>
        <th># Rounds</th>
        <th>Direction</th>
        <th>Start</th>
        <th>Players</th>
      </tr></thead>
      {% for game_assn in past_games -%}
      {%- set game = game_assn.game -%}
      {% set game_state = game_states[game.id_] -%}
      <tr class="table-{% if game_state == 'done' %}success{% else %}secondary{% endif %}">
        <td>
          {%- if game_state == 'done' -%}
            <a href="{{ url_for('game.view_game', game_id=game.id_) }}" class="btn btn-success">View All</a></td>
          {%- else -%}
            <button class="btn btn-secondary" type="button" data-bs-toggle="modal" data-bs-target="#rejoinGameModal" data-bs-game-id="{{ game.id_ }}">Rejoin</button>
          {%- endif -%}
        <td>{{ game.started | render_timestamp }}</td>
        <td>{% if game.last_move is not none %}{{ game.last_move | render_timestamp }}{% endif %}</td>
        <td>{{ game.num_rounds }}</td>
        <td>{% if game.pass_left %}Left{% else %}Right{% endif %}</td>
        <td>{% if game.write_first %}Write{% else %}Draw{% endif %}</td>
        <td>{% for player in game.players -%}
          {{ player.display_name }} ({{ player.name }}){% if not loop.last %}, {% endif %}
        {%- endfor %}</td>
      </tr>
      {%- endfor %}
    </table>
  {%- endif %}
{%- endblock %}

{% block footer -%}
  <script>
    var rejoinModal = document.getElementById('rejoinGameModal');
    rejoinModal.addEventListener('show.bs.modal', function (event) {
      // Button that triggered the modal
      var button = event.relatedTarget
      // Extract info from data-bs-* attributes
      var game_id = button.getAttribute('data-bs-game-id')
      // If necessary, you could initiate an AJAX request here
      // and then do the updating in a callback.
      //
      // Update the modal's content.
      var rejoinForm = rejoinModal.querySelector('.modal-footer form')

      rejoinForm.action = rejoinForm.action.replace('game/0', 'game/' + game_id);
    });
  </script>
{%- endblock %}
