{%- extends "base.html" -%}
{% block title %}Index{% endblock %}

{% block head %}
  {{ super() }}
  <script>
    var game_id = {{ game_id }};
    var player_id = {{ player_id }};
    var currentState;

    var handlers = {};
    var httpHost = "{{ server }}:{{ config['HTTP_PORT'] }}";
    var ws = new WebSocket("ws://localhost:{{ config['WS_PORT'] }}/" + game_id + "/" + player_id);

    function resetDisplay() {
      while (disp.firstChild) {
        disp.removeChild(disp.firstChild);
      }
      textInputDiv.style.display = 'none';
      imageInputDiv.style.display = 'none';
      clearCanvas();
      textInput.value = "";
    }

    function mainHandler(data) {
      if (currentState != data['state']) {
        var action = data.action;
        var handler = handlers[action];

        resetDisplay();
        if (handler !== undefined) {
          handler(data);
          currentState = data['state'];
        } else {
          console.log("No handler found for action " + action, data, handlers);
        }
      }
    }

    ws.onmessage = function (event) {
      var data = JSON.parse(event.data);
      mainHandler(data);
    };

    function makeText(text, type) {
      if (type === undefined) {
        type = 'div';
      }
      var element = document.createElement(type);
      element.textContent = text;
      return element;
    }

    function makeImg(dataUrl) {
      var img = document.createElement('img');
      img.src = dataUrl;
      return img;
    }

    function passWriting() {
      ws.send('WRITING:' + textInput.value);
    }

    function sendImage() {
      var files = imgUpload.files;
      var file, request, formData;
      if (files.length > 0) {
        file = files[0];

        formData = new FormData();
        formData.set('file', file, file.name);
        formData.set('game_id', game_id);
        formData.set('player_id', player_id);

        url = httpHost + '/img_upload'
        request = new XMLHttpRequest();
        request.open('POST', url, true);
        request.send(formData);
        request.onload = function(event) {
          ws.send('UPDATE:');
        }
      }
    }
  </script>
{% endblock %}

{% block content %}
  <div id="game-display"></div>
  <div id="text-input-div" style="display: none">
    <input id="text-input" size="100" />
    <button type="button" onclick="passWriting()">Pass</button>
  </div>
  <div id="image-input-div" style="display: none">
    <!-- http://www.williammalone.com/articles/create-html5-canvas-javascript-drawing-app/ -->
    <select id="color-select">
      <option value="#000000" selected>Black</option>
      <option value="#df4b26">Red</option>
      <option value="#cb3594">Purple</option>
      <option value="#659b41">Green</option>
      <option value="#ffcf33">Yellow</option>
      <option value="#986928">Brown</option>
    </select>
    <select id="size-select">
      <option value="1">Tiny</option>
      <option value="3">Small</option>
      <option value="5" selected>Normal</option>
      <option value="8">Large</option>
      <option value="14">Huge</option>
    </select>
    <canvas id="image-canvas" width="{{ config['CANVAS_WIDTH'] }}" height="{{ config['CANVAS_HEIGHT'] }}" style="border: 1px solid #000000;"></canvas>
    <button type="button" onclick="clearCanvas()">Clear</button>
    <button type="button" onclick="passDrawing()">Pass</button>
    <br/>
    <p>Or upload a file:</p>
    <input type="file" id="img-upload">
    <button type="button" onclick="sendImage()">Upload</button>
  </div>
{% endblock %}

{% block footer -%}
  <script>
    var disp = document.querySelector('#game-display');
    var textInput = document.querySelector('#text-input');
    var textInputDiv = document.querySelector('#text-input-div');

    var imageInput = document.querySelector('#image-canvas');
    var imageInputDiv = document.querySelector('#image-input-div');
    var imgUpload = document.querySelector('#img-upload');

    // Color selection
    var colorSelect = document.querySelector('#color-select');
    var selectedColor;
    var selectableColors = [];
    for (const option of colorSelect.querySelectorAll('option')) {
      selectableColors.push(option.value);
    }
    function colorSelected(event) {
      selectedColor = colorSelect.selectedIndex;
    }
    colorSelect.addEventListener('input', colorSelected);
    colorSelected();

    // Size selection
    var sizeSelect = document.querySelector('#size-select');
    var selectedSize;
    function sizeSelected(event) {
      selectedSize = Number(sizeSelect.value);
    }
    sizeSelect.addEventListener('input', sizeSelected);
    sizeSelected();

    var canvasWidth = {{ config['CANVAS_WIDTH'] }};
    var canvasHeight = {{ config['CANVAS_HEIGHT'] }};

    handlers.view = function(data) {
        var pageData;
        for (const stack of data.stacks) {
          disp.appendChild(makeText(stack.owner + "'s stack:", 'h2'));
          for (const page of stack.pages) {
            pageData = page.content;
            if (page.type == 'Drawing') {
              disp.appendChild(makeText(page.author + ' drew:'));
              disp.appendChild(makeImg(pageData));
            } else {
              disp.appendChild(makeText(page.author + ' wrote:'));
              disp.appendChild(makeText(pageData));
            }
          }
        }
    };
    handlers.view_own = function(data) {
        var pageData;
        disp.appendChild(makeText('Your stack is back!'));
        for (const page of data.stack.pages) {
          pageData = page.content;
          if (page.type == 'Drawing') {
            disp.appendChild(makeText(page.author + ' drew:'));
            disp.appendChild(makeImg(pageData));
          } else {
            disp.appendChild(makeText(page.author + ' wrote:'));
            disp.appendChild(makeText(pageData));
          }
        }
    };
    handlers.write = function(data) {
      if (data.text != '') {
          disp.appendChild(makeText(data.text));
        }
        var img = document.createElement('img');
        img.src = data.prev;
        disp.appendChild(img);
        disp.appendChild(makeText('Write something:'))
        textInputDiv.style.display = '';
    };
    handlers.draw = function(data) {
      if (data.text != '') {
          disp.appendChild(makeText(data.text));
        }
        disp.appendChild(makeText(data.prev));
        disp.appendChild(makeText('Draw something:'))
        imageInputDiv.style.display = '';
    };
    handlers.wait = function(data) {
        disp.appendChild(makeText(data.text));
    };

    // Set up drawing canvas
    var drawingContext = document.querySelector('#image-canvas').getContext("2d");
    var clickX = new Array();
    var clickY = new Array();
    var clickColors = new Array();
    var clickSizes = new Array();
    var clickDrag = new Array();
    var inBounds = false;
    var mouseDown = false;

    imageInput.onmousedown = function(event) {
      var mouseX = event.pageX - this.offsetLeft;
      var mouseY = event.pageY - this.offsetTop;

      mouseDown = true;
      addClick(event.pageX - this.offsetLeft, event.pageY - this.offsetTop, false);
      redraw();
    }
    imageInput.onmousemove = function(event) {
      if (inBounds && mouseDown){
        addClick(event.pageX - this.offsetLeft, event.pageY - this.offsetTop, true);
        redraw();
      }
    }
    document.querySelector('body').onmouseup = function(event) {
      mouseDown = false;
    }
    imageInput.onmouseenter = function(event) {
      inBounds = true;
      if (mouseDown) {
        addClick(event.pageX - this.offsetLeft, event.pageY - this.offsetTop, false);
        redraw();
      }
    }
    imageInput.onmouseleave = function(event) {
      inBounds = false;
    }
    var clickX = new Array();

    function addClick(x, y, dragging) {
      clickX.push(x);
      clickY.push(y);
      clickColors.push(selectedColor);
      clickSizes.push(selectedSize);
      clickDrag.push(dragging);
    }
    function redraw() {
      drawingContext.clearRect(0, 0, drawingContext.canvas.width,
                               drawingContext.canvas.height); // Clears the canvas

      drawingContext.lineJoin = "round";

      for(var i=0; i < clickX.length; i++) {
        drawingContext.strokeStyle = selectableColors[clickColors[i]];
        drawingContext.lineWidth = clickSizes[i];
        drawingContext.beginPath();
        if(clickDrag[i] && i){
          drawingContext.moveTo(clickX[i-1], clickY[i-1]);
         } else{
           drawingContext.moveTo(clickX[i]-1, clickY[i]);
         }
         drawingContext.lineTo(clickX[i], clickY[i]);
         drawingContext.closePath();
         drawingContext.stroke();
      }
    }
    function clearCanvas() {
      clickX = new Array();
      clickY = new Array();
      clickDrag = new Array();
      redraw();
    }

    function compressImageData(imgData) {
      const compressedData = new Array();
      const data = imgData.data;
      var x;
      var y;
      for (let i = 0; i < data.length; i += 4) {
        if (data[i+3] > 0) {
          x = (i % (imgData.width * 4) / 4);
          y = Math.floor(i / (imgData.width * 4));
          compressedData.push(x, y, data[i], data[i+1], data[i+2], data[i+3]);
        }
      }
      return Uint16Array.from(compressedData);
    }

    function passDrawing() {
      // Serialize image data
      var imgData = drawingContext.getImageData(0, 0, canvasWidth, canvasHeight);
      var data = "imgData\x00" + imgData.width + "\x00" + imgData.height + "\x00";
      var compressed = compressImageData(imgData);
      ws.send(compressed);
    }

  </script>
{%- endblock %}
